@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 222 47% 11%;
    
    --primary: 222 47% 25%;
    --primary-foreground: 0 0% 98%;
    
    --secondary: 240 17% 54%;
    --secondary-foreground: 0 0% 98%;
    
    --accent: 25 82% 72%;
    --accent-foreground: 222 47% 11%;
    
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    
    --border: 222 47% 11%;
    --input: 222 47% 11%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 97%;
    
    --primary: 240 17% 54%;
    --primary-foreground: 0 0% 98%;
    
    --secondary: 222 47% 25%;
    --secondary-foreground: 0 0% 98%;
    
    --accent: 25 82% 72%;
    --accent-foreground: 222 47% 11%;
    
    --card: 224 71% 4%;
    --card-foreground: 0 0% 98%;
    
    --border: 240 17% 54%;
    --input: 240 17% 54%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
    font-family: 'Work Sans', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }
}